body{
	background-image: url(https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105_960_720.png);
	background-size: cover;
}

header{
	color: #fff;
	font-size: 4em;
	overflow: hidden;
	padding-left: 25%;

}
p{
	float: left;
	width: 100px;
	text-align: center;
	margin: 5px;
	border-radius: 10px;
}

.b{
	background-color: #FF1818;
	padding: 10px;
}
.i{
	background-color: #FFBD18;
	padding: 10px;
}
.n{
	background-color: #D2FF18;
	padding: 10px;
}
.g{
	background-color: #18CBFF;
	padding: 10px;
}
.o{
	background-color: #B918FF;
	padding: 10px;
}
div{
	background-color: #0154D4;
	width: 51%;
	overflow: hidden;
	margin-left: 25%;
	padding: 0px;
}
a{
	text-decoration: none;
	float: left;
	width: 100px;
	font-size: 4em;
	padding: 15px;
	margin:2px;
	background-color: #5D3E7A;
	border-radius: 30px;
	color: #fff;
}
.m{
	font-size: 25px;
	height: 70px;
	margin-bottom: 0px;
	text-align: center;
	padding-top: 20px;
}
